.promo {
	min-height: 100vh;
	position: relative;
	background: url("../../img/main.jpg") no-repeat 50% / cover;
	&::before {
		background: rgb(0, 0, 0, 0.35); /*зад. цвет и прозр. затемнения было - background: rgb(57 53 53 / 20%);*/
		content: "";
		position: absolute;
		width: 100%;
		z-index: 5;
		min-height: 100vh;
	}
	&__body {
		padding: 90px 0px 0px 90px;
		position: relative;
		z-index: 20;
	}
	&__title {
		font-weight: 700;
		font-size: 48px;
		line-height: 125%; /* 60/48 */
		text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
		&:not(:last-child) {
			margin-bottom: 25px;
		}
	}

	&__buttons {
		display: flex;
		width: 270px;
		justify-content: space-between;
		/* align-items: center; */
	}
}
