.title {
	font-weight: 700;
	font-size: 36px;
	line-height: 167%; /* 60/36 */
	margin: 0;
	text-align: center;
}

.subtitle {
	font-weight: 700;
	font-size: 16px;
	line-height: 150%; /* 24/16 */
	position: relative;
	z-index: 5;
	padding-left: 10px;
	&:not(:last-child) {
		margin-bottom: 6px;
	}
	@include before_circle;
}

.subtitle_center {
	text-align: center;
	font-weight: 700;
	font-size: 16px;
	line-height: 150%; /* 24/16 */
	position: relative;
	z-index: 5;
	&:not(:last-child) {
		margin-bottom: 6px;
	}
	@include center_circle;
}

.divider {
	width: 60px;
	height: 0px;
	border: 2px solid $main-color;
	margin: 25px auto 0px auto;
}

@media (max-width: 767.98px) {
	.title {
		font-size: 30px;
	}
}

@media (max-width: 575.98px) {
	.title {
		font-size: 24px;
	}
}
